.DS_Store

# /frontend/
/frontend/node_modules
/frontend//.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.env


/chrome-extension/.DS_Store


# Logs
/backend/functions/logs
/backend/functions/*.log
/backend/functions/npm-debug.log*
/backend/functions/yarn-debug.log*
/backend/functions/yarn-error.log*
/backend/functions/firebase-debug.log*
/backend/functions/firebase-debug.*.log*

# Firebase cache
/backend/functions/.firebase/

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

/backend/functions/pids
/backend/functions/*.pid
/backend/functions/*.seed
/backend/functions/*.pid.lock
/backend/functions/lib-cov
/backend/functions/coverage
/backend/functions/.nyc_output
/backend/functions/.grunt
/backend/functions/bower_components
/backend/functions/.lock-wscript
/backend/functions/build/Release
/backend/functions/node_modules/
/backend/functions/.npm
/backend/functions/.eslintcache
/backend/functions/.node_repl_history
/backend/functions/*.tgz
/backend/functions/.yarn-integrity
/backend/functions/.env


# EXTENSION
/chrome-extension/node_modules/
/chrome-extension/dist