.DS_Store

# /Sponsor-Circle-main/
/Sponsor-Circle-main/node_modules
/Sponsor-Circle-main//.pnp
/Sponsor-Circle-main/.pnp.js
/Sponsor-Circle-main/coverage
/Sponsor-Circle-main/build
/Sponsor-Circle-main/.DS_Store
/Sponsor-Circle-main/.env.local
/Sponsor-Circle-main/.env.development.local
/Sponsor-Circle-main/.env.test.local
/Sponsor-Circle-main/.env.production.local
/Sponsor-Circle-main/npm-debug.log*
/Sponsor-Circle-main/yarn-debug.log*
/Sponsor-Circle-main/yarn-error.log*
/Sponsor-Circle-main/.env


/google-chrome-extension/.DS_Store


# Logs
/backend/functions/logs
/backend/functions/*.log
/backend/functions/npm-debug.log*
/backend/functions/yarn-debug.log*
/backend/functions/yarn-error.log*
/backend/functions/firebase-debug.log*
/backend/functions/firebase-debug.*.log*

# Firebase cache
/backend/functions/.firebase/

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

/backend/functions/pids
/backend/functions/*.pid
/backend/functions/*.seed
/backend/functions/*.pid.lock
/backend/functions/lib-cov
/backend/functions/coverage
/backend/functions/.nyc_output
/backend/functions/.grunt
/backend/functions/bower_components
/backend/functions/.lock-wscript
/backend/functions/build/Release
/backend/functions/node_modules/
/backend/functions/.npm
/backend/functions/.eslintcache
/backend/functions/.node_repl_history
/backend/functions/*.tgz
/backend/functions/.yarn-integrity
/backend/functions/.env