.isolated-iframe {
  position: fixed;
  top: -100%; /* Start from above the viewport */
  left: 85%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fdfdfd;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0 !important;
  z-index: 20000;
  transition: top 0.75s ease-out; /* Animation for moving down */
}

@media screen and (min-width: 1600px) {
  body > *, .Body > * {
    padding: 0px;
  }
}

.sponsor-circle-app {
  width: 530px;
  border-radius: 20px;
  background-color: #fff; /* Optional: Set background color */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: 'Montserrat' !important;
  display: flex;
  flex-direction: column;
}

.welcome-div {
  font-family: 'Montserrat' !important;
  margin: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-text {
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(44, 5, 147);
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar-image-wrapper {
  display: flex;  
  flex-direction: row;
  align-items: center;
}

.close-button {
  color: #fff;
}


.navbar-img {
  width: 150px;
}

.merchants-container {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
}

.merchant {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border-radius: 8px;
  width: 135px;
  height: 125px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  text-decoration: none;
  margin: 5px;
  padding: 10px 5px 5px 5px;
  cursor: pointer;
}

.merchant-discount {
  font-size: smaller;
  font-weight: 500;
  margin-bottom: 5px;
}

.merchant-img-wrapper {
  width: 60px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 10px;
}

.merchant-img {
  width: 100%;
}

.merchant-header {
  color: #000;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.merchant-header::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and new Edge */
}

.footer {
  text-align: center;
  padding-bottom: 10px;
}


/* //////////////// ADs /////////////// */
.boosted-ad-container {
    height: 120px;
    border-radius: 8px;
    background: rgba(242, 239, 253, 1);
    padding: 30px;
}

.boosted-ad-container:hover {
  background: rgba(44, 5, 147, 0.21);
}

.boosted-ad-inner {
  align-items: center;
  background: rgba(255, 255, 255, 1) !important;
  padding: 10px 20px;
  border-radius: 8px;
}

.boosted-ad-header {
    display: flex;
    align-items: center;
}

.boosted-ad-logo {
    width: 30px;
    margin-right: 10px;
}

.boosted-ad-logo-img {
    width: 100%;
}

.boosted-ad-title {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.boosted-ad-link {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}

.boosted-ad-additional {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.boosted-ad-description {
    color: black;
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
}

.boosted-ad-sponsor-logo {
    width: 100px;
}

.boosted-ad-sponsor-logo-img {
    width: 100%;
}
